@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Relieve';
  font-display: fallback;
  src: local('Relieve'), url('/fonts/relieve.ttf') format('truetype'),
    url('/fonts/relieve.ttf') format('truetype');
  font-weight: 100;
}

/* Add scroll smoth in html */

html {
  scroll-behavior: smooth;
}
